{% extends 'static/base.twig' %}
{% block content %}
<div id="garage">

<h1>Garage</h1>
{% if storages %}
    <table name="storage-table">
        <tr>
            <th>View
            <th>Type
            <th>Category
            <th>Title
            <th>Price
            <th>weight
            <th>volume
            <th>Action
        </tr>
        {% for offer in storages %}
            <tr>
                <td><div class="tiptip">
                    <a href="index.php?offer&id={{ offer.offer_id }}"
                       class="button" title="View Offer">
                        <span class="icon icon113"></span></a>
                </div>
                <td><a href="#">{{ offer.type }}</a>
                <td><a href="#">{{ offer.category }}</a>
                <td>{{ offer.title }}
                <td>$ {{ offer.price|number_format('2', '.', ' ') }}
                    {#{% if is_admin or is_owner %}#}
                {#<td>#}
                    {#<div class="tiptip">#}
                        {#<a href="index.php?offer&delete={{ offer.offer_id }}"#}
                           {#class="button delete" title="Delete Offer">#}
                            {#<span class="icon icon186"></span></a>#}
                    {#</div>#}
                    {#{% endif %}#}

                {% if offer.receive %}
                    <td>{{ offer.weight }}</a>
                    <td>{{ offer.volume }}</a>
                    <td>
                        <div class="tiptip">
                            <a href="index.php?garage&pickup={{ offer.id }}"
                               class="button confirm" title="Item Picked Up">
                                <span class="icon icon44"></span></a>
                        </div>
                {% else %}
                        <form action="index.php?garage&receive={{ offer.id }}" method="POST" style="display:none;">                    
                        <td>
                            <select name="weight">
                                <option value=""></option>
                                <option value="light">light</option>
                                <option value="medium">medium</option>
                                <option value="heavy">light</option>
                            </select>
                        <td>
                            <select name="volume">
                                <option value=""></option>
                                <option value="small">small</option>
                                <option value="medium">medium</option>
                                <option value="large">large</option>
                            </select>
                        <td>
                            <div class="tiptip">
                                <button type="submit" title="Item Received">
                                    <span class="icon icon110"></span></a>
                                </button>
                            </div>
                        </form>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>The garage is clear of any active item!</p>
{% endif %}
    <div class="tiptip">
        <a href="#" class="button" title="Garage History">
            <span class="icon icon140"></span>
            <span class="label">Garage History</span>
        </a>
    </div>
</div>

{% endblock content %}