{% extends 'static/base.twig' %}

{% block content %}

    {% if hot_offers %}
    <div id="index">
        <h1>Amazing Hot Offers Lesser Than ${{ hot_offer_threshold }}!</h1>
        <table name="offer-table">
            <tr>
                <th>View
                <th>Owner
                <th>Type
                <th>Category
                <th>Title
                <th>Price
            </tr>
            {% for offer in hot_offers %}
                <tr>
                    <td>
                        <div class="tiptip">
                            <a href="index.php?offer&id={{ offer.id }}"
                               class="button" title="View Offer">
                                <span class="icon icon113">View</span></a>
                        </div>
                    <td>
                        {% if is_logged_in %}
                            <a href="index.php?member&id={{ offer.owner_id }}">
                                {{ offer.owner }}
                            </a>
                        {% else %}
                            {{ offer.owner }}
                        {% endif %}
                    </td>
                    <td><a href="#">{{ offer.type }}</a>
                    <td><a href="#">{{ offer.category }}</a>
                    <td>{{ offer.title }}
                    <td>$ {{ offer.price|number_format('2', '.', ' ') }}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <hr /><h1>Messages</h1>
    <ul>
        <li>Please reload the SQL-DDL in the libs folder.
            As I have made a lot of changes. - Charles</li>
        <li>If you cannot login, it is highly probable
            that you do not have the login database in your
            local MAMP/WAMP/XAMP SQL server. I have uploaded my
            latest SQL DDL file <a href="libs/sql-ddl.sql">here</a>.
            Grab it and import it in your local SQL database.</li>
        <li>Finally, don't forget to change the database
            information in the "config/database.php" file.</li>
    </ul>

    {% if offers %}
        <hr /><h1>All Offers</h1>
        <table name="offer-table">
            <tr>
                <th>View
                <th>Owner
                <th>Type
                <th>Category
                <th>Title
                <th>Price
            </tr>
            {% for offer in offers %}
                <tr>
                    <td>
                        <div class="tiptip">
                            <a href="index.php?offer&id={{ offer.id }}"
                               class="button" title="View Offer">
                            <span class="icon icon113">View</span></a>
                        </div>
                    <td>
                        {% if is_logged_in %}
                            <a href="index.php?member&id={{ offer.owner_id }}">
                                {{ offer.owner }}
                            </a>
                        {% else %}
                            {{ offer.owner }}
                        {% endif %}
                    </td>
                    <td><a href="#">{{ offer.type }}</a>
                    <td><a href="#">{{ offer.category }}</a>
                    <td>{{ offer.title }}
                    <td>$ {{ offer.price|number_format('2', '.', ' ') }}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    </div>
{% endblock content %}