{% extends 'static/base.twig' %}

{% block content %}
<h1>Post Offer</h1>
{% if offerId %}
    <form action="index.php?post&modify={{ offerId }}" method="POST" name="post-offer-form"
        enctype="multipart/form-data">
{% else %}
    <form action="index.php?post" method="POST" name="post-offer-form"
          enctype="multipart/form-data">
{% endif %}
    <ul>
        <li><input type="text" name="title" placeholder="Title"
                value="{% if offerTitle %}{{ offerTitle }}{% endif %}"/>
        <li><select name="category">
            {% for key, type in categories %}
                 <option disabled>--- {{ key|capitalize }} -----------</option>

                {% for category in type %}
                    <option value="{{ category.id }}"
                        {% if category.name == offerCategory %}
                            selected
                        {% endif %}>
                        {{ category.name|capitalize }}
                    </option>
                {% endfor %}
            {% endfor %}
        </select>
        <li><input type="text" name="price" placeholder="Price"
                value="{% if offerPrice %}{{ offerPrice }}{% endif %}"/>
        <li><textarea name="description" rows="6" cols="30">{% if offerDescription %}{{ offerDescription }}{% endif %}</textarea>
        <li><input type="file" name="image" placeholder="Image URL"/>
        <li><input type="hidden" name="submit" value="TRUE" />
        <li><button type="submit" class="action blue submit">
                <span class="label">Post Offer</span>
            </button>
    </ul>
</form>

{% endblock content %}
